@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Concert+One&family=Fredoka+One&family=Kanit:wght@100&family=Sarala&family=Staatliches&display=swap');

*{  
    margin: auto;
    box-sizing: border-box;
    text-decoration: none;
    background: #ffffff; 
}

body {
    font-size: 100%;
    background: #ffffff;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    background: #ffffff;
}

.cabecalho-1{
    display: flex;
    flex-direction: row;
    gap: 12px;
}


.cabecalho-imagem{
    border: none;
    width: 80px;
    height: 80px;
}

.cabecalho-imagem-2{
    border: none;
    width: 260px;
    height: 80px;
}

.cabecalho-menu{    
    display: flex;    
    flex-direction: row;
    background: #ffffff;
    padding-right: 150px;
    gap: 32px;
}

.cabecalho-menu-item{
    font-family: 'Sarala', sans-serif;
    background: #ffffff;
    font-weight: 400;    
    font-size: 18px;
}

.cabecalho-menu-botao{
    border-radius:35px;
    width: 180px;
    height: 60px;
    font-family: 'Sarala', sans-serif;
    font-size: 18px;
    color: white;
    border: none;
    background-color: #2596be;
    transition-duration: 0.4s;
}

.cabecalho-menu-botao:hover {
    background-color: #b4e2f3;
    color: white;
  }

.conteudo-principal-imagem{
    border: none;
}

.infi{

}